.tooltips {
    position: relative;
    display: inline-block;
  }
  
  .tooltips .tooltipstext {
    visibility: hidden;
    width: 140px;
    height: 140px;
    background-color: white;
    color: black;
    border-radius: 6px;
    font-size: 10px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 105%;
    left: 50%;
    margin-left: -70px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltips .tooltipstext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: white transparent transparent transparent;
  }
  
  .tooltips:hover .tooltipstext {
    visibility: visible;
    opacity: 1;
  }

  .design{
    margin-left: 10px;
  }